$color-primary-accent: #ffffff77;
$color-primary-accent-light: #ffffffaa;
//$color-primary-accent-dark: #000;

$color-secondary-accent: #ffffff11;
$color-secondary-accent-light: #ffffff44;
//$color-secondary-accent-dark: #000;

$color-text-accent: #ffffffdd;
$color-text-accent-light: #f5f5f5a6;
//$color-text-accent-dark: #000;

$color-link: #ffce1f;
$color-link-light: #f5dc56;
//$color-link-dark: #000;

$color-light: #ffffff;
$color-gray: #818288;
$color-dark: #3d3d3b;
