$color-primary-accent: #12171c;
$color-primary-accent-light: #14191e;
$color-primary-accent-bright: #212833;
$color-primary-accent-dark: #181c25;

$color-secondary-accent: #f5f5f50d;
$color-secondary-accent-dark: #f5f5f526;

$color-text-accent: #fff;
$color-text-accent-dark: #f5f5f5cc;
$color-text-accent-light: #f5f5f5a6;

$color-link: #ffce1f;
$color-link-hover: #f5dc56;

$color-light: #FFF;
$color-gray: #818288;
$color-dark: #464655;
