@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLight.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Light.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
