@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Light.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansCJKjp-Black.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
