@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansMonoCJKjp-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansMonoCJKjp-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
