@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansMonoCJKjp-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Mono CJK JP';
	src: url('~assets/fonts/NotoSansCJKjp/NotoSansMonoCJKjp-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
