@font-face {
	font-family: 'DejaVu Math TeX Gyre';
	src: url('~assets/fonts/DejaVu2.37/DejaVuMathTeXGyre.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
