@font-face {
	font-family: 'DejaVu Sans Condensed';
	src: url('~assets/fonts/DejaVu2.37/DejaVuSansCondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Sans Condensed';
	src: url('~assets/fonts/DejaVu2.37/DejaVuSansCondensed-Oblique.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DejaVu Sans Condensed';
	src: url('~assets/fonts/DejaVu2.37/DejaVuSansCondensed-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu Sans Condensed';
	src: url('~assets/fonts/DejaVu2.37/DejaVuSansCondensed-BoldOblique.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
